
body{
    font-family:"Gill Sans Extrabold", Helvetica, sans-serif;
	background-color:#FFFFFF;
}
#pageheader, #pagefooter{
    padding-top:20px;
    background-color:#FFFFFF;
    font-size:30px;
    text-align:center;
}

a.navbar	{
    padding-top: 5px;

}
a.navbar-brand img {
    width: 50px;
    margin-left:20px;
}


#pageheader {
    color: #555252;
    text-transform: uppercase;
}

.content_block {
    min-height: 450px;
}

.btn-primary {
    background-color: #0ea1e2;
}


/*LOGIN STYLES*/

.login_box {
   background: #ffffff;
   border: 1px solid #d4dfe7;
   box-shadow: 0px 1px 2px 0px #e7edf3;
   padding: 20px 24px 24px;
   margin-top: 20px;
   margin-bottom: 40;

}

#pagefooter{
    font-size:20px;
}

footer {
    background-color: #636363;
    text-align:center;
    height: 300px;
    margin-top:50px;
    padding:40px;
    color:#ffffff;
}

footer a {
    color: #ffffff;

}

footer a:hover {
    color: #87CBF5;
    text-decoration: none;

}

.logout {
    float: right;
    margin-top: 10px;
}

.welcome{
    float: right;
    font-size:20px;
    margin-right:10px;
    margin-top:10px;
}

.circle-border{
    border:7px solid #e7e7e7;
}

#logout_msg{
    font-size:24px;
    padding:20px;

}

#center_content {
    text-align:center;

}

#center_content img {
    height:150px;
    padding:20px;

}

.row{
    margin:10px;
    padding:10px;
}

.me {
    background-color: LightGreen;
    border-radius:5px;
}

#btn-reset:hover {
    cursor: pointer;
}

#search_q {
    width: 100%;
display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);color:#999;opacity:1;background-color:#fff;opacity:1}


#search_q:after {
    font: 18px "ionicons";
    position: relative;
    content: "\f1da";
}
