/* html style 
-----------------------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}

body{
    font-family:"Gill Sans Extrabold", Helvetica, sans-serif;
	background-color:silver;
	margin-bottom: 150px;
}

button#add_tweet, .badge, .navbar {
    background-color: teal;
}

button#toggle_history {
    background-color: teal;
    position: relative;
    left: 975px;
}

.navbar {
    color: White;
}


li.tweet {
    background-color: white;
    margin-bottom: 3px;
    border-radius: 3px;
    padding: 5px;
}

li.tweet p {
   margin-bottom: 2px; 
}

li.tweet span {
    font-size: smaller;
    font-style: italic;
}

li.tweets-history {
    background-color: #77BFC7;
    
    padding: 5px;
}

.row{
    margin:10px;
    padding:10px;
}

/* Styling registration pages 
------------------------------------------------------------------*/
.login_box {
    background: Teal;
    border: 1px solid #D4DFE7;
    box-shadow: 5px 5px 5px 0px White;
    padding: 10px 14px 14px;
    margin-top: 10px;
    margin-bottom: 20;
}

div {
    display: block;
}
#center_content {
    text-align:center;

}

#center_content img {
    height:150px;
    padding:20px;
}
a {
    background-color: transparent;
}

form {
    display: block;
    margin-top: 0em;
}

#center-form-reset-passworld {
    text-align: center;
}

/* styling  footer page
-----------------------------------------------------------------*/
#pagefooter{
    font-size:20px;
}

footer {
    background-color: teal;
    text-align:center;
    margin-top: 10px;
    padding: 40px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #87CBF5;
    text-decoration: none;
}
