body{
    font-family:"Gill Sans Extrabold", Helvetica, sans-serif;
	background-color:#FFFFFF;

}

form {
    text-align: center;
}

li.tweet {
    background-color: #F8F8F8 ;
    margin-bottom: 3px;
    border-radius: 3px;
    padding: 5px;
}

li.tweet p {
   margin-bottom: 2px; 
}

li.tweet span {
    font-size: smaller;
    font-style: italic;
}

li.tweets-history {
    background-color: #F8F8F8;
    
    padding: 5px;
}

.btn-primary {
    background-color: #0ea1e2;

}

#pagefooter{
    font-size:20px;

}

footer {
    background-color: Teal;
    text-align:center;
    height: 150px;
    margin-top:10px;
    padding:40px;
    color:#ffffff;
    
}

footer a {
    color: #ffffff;

}

footer a:hover {
    color: #87CBF5;
    text-decoration: none;

}

.row{
    margin:10px;
    padding:10px;
}
