{% load i18n %}
{% load static %}
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/tweety.css' %}" />
        <title>
            {% block title %}
                TweetyTimor
            {% endblock %}

        </title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <h1>Hello Tweety Timor</h1>
                <p>say something...</p>
            </div>
        </nav>
        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>
