{% load i18n %}
{% load static %}
{% load pipeline %}



<!DOCTYPE html>
<html lang="en">
    <head>
        {% javascript 'libraries' %}
        {% stylesheet 'tweetytimor' %}

        {{ form.media }}
        {{ form.email }}
    
        <title>
            {% block title %}
            {% endblock %}
        </title>

    </head>
    <body>
        {% block content %}
        {% endblock %}

        <footer class="footer">
             Copyright &copy; <a href="https://github.com/catalpainternational/">Catalpa International</a> 2016
        </footer>

    </body>
</html>

