{% extends 'tweety/base.html' %}

{% block title %}
    Tweety Create
{% endblock %}
 
{% block content %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <h2>Hello Tweety Timor</h2>
                <span class="badge">
                    <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
                </span>
            </div>
        </nav>
            <div class ="container">
                <div class="panel-body">
                    <div class="nav nav-pills">
                        <div class = "row" id="body_box">
                            <div class = "col-md-12">
                                <h3>Create {{total_users}}{% if total_users == 0 %} no user {% elif total_users == 1 %} user {% else %} users {% endif %}</h3>
                                <form action"." method="post">
                                    {% csrf_token %}
                                    <p>{{ form.first_name.label_tag }}</p>
                                    <p>{{ form.first_name }}</p>
                                    <p>{{ form.first_name.errors }}</p>
                                    <p>{{ form.last_name.label_tag }}</p>
                                    <p>{{ form.last_name }}</p>
                                    <p>{{ form.last_name.errors }}</p>
                                    <p>{{ form.username.label_tag }}</p>
                                    <p>{{ form.username }}</p>
                                    <p>{{ form.username.errors }}</p>
                                    <p>{{ form.password.label_tag }}</p>
                                    <p>{{ form.password }}</p>
                                    <p>{{ form.password.errors }}</p>
                                    <p>{{ form.email.label_tag }}</p>
                                    <p>{{ form.email }}</p>
                                    <p>{{ form.email.errors }}</p>
                                    <p>{{ form.confirm_email.label_tag }}</p>
                                    <p>{{ form.confirm_email }}</p>
                                    <p>{{ form.confirm_email.errors }}</p>
                                    <button type="submit" class="btn btn-primary">Create New User</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
