        <nav class="navbar navbar-default">
           <div class="container-fluid">
                <h1>Hello Tweety Timor</h1>
            </div>
        </nav>
        <div class ="container">
            <p>say something...</p>
            <form action="." method="post">
                {% csrf_token %}
                <p>Add your {{ form.comment.label_tag }}...</p>
                <p> {{ form.comment}}</p
                <div class = "row">
                    <div class="col-md-12">
                        <input type="submit" value="Add"/>
                    </div>
                </div>
            </form>
            <ul>
                {% for tweet in tweets %}
                 <li>{{ tweet.comment }}</li>
                {% endfor %}
            </ul>
        </div>

