{% extends 'tweety/base.html' %}

{% block title %}
    Tweety Like
{% endblock %}

{% block content %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <h2>Hello Tweety Timor</h2>
                <span class="badge">
                    <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
                </span>
            </div>
        </nav>
            <div class ="container">
                <div class="panel-body">
                    <div class="nav nav-pills">
                        <div class = "row">
                            <div class = "col-md-12">
                                <form action"." method="post">
                                    {% csrf_token %}
                                    <p>{{ form.like.label_tag }}</p>
                                    <p>{{ form.like }}</p>
                                    <p>{{ form.like.errors}}</p>
                                    <button type="submit" class="btn btn-default">Send Email</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
