{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/tweety.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
	    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    
        <title>Tweety - Timor</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <h2>Hello Tweety Timor</h2>
                <span class="badge">
                    <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
                </span>
            </div>
        </nav>
            <div class ="container">
                <div class="panel-body">
                    <div id="tweetdisplay" class="nav nav-pills">
                        <div class = "row">
                            <div class = "col-md-12">
                                <form action"." method="post">
                                    {% csrf_token %}
                                    {{ form.like }}
                                    <button type="submit" class="btn btn-default">Send Email</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
