{% extends 'tweety/base.html' %}
    {% block title %}
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block content %}
        <form action="." method="post">
            {% csrf_token %}
            <p>Add your {{ form.comment.label_tag }}</p>
            <p> {{ form.comment}}</p>
            <div id="textarea_feedback"></div>
            <input type="submit" value="Add" />
        </form>

        <div class="container">
        <a href="{% url 'tweety' %}">{{ form.tweet }}</a>
        <!-- Atu halo konta ba karakter no fo limitasaun ba karakter -->
        <script type="text/javascript">
            $(document).ready(function() {
                var text_max = 200;
                $('#textarea_feedback').html(text_max + ' characters remaining');

                $('#id_comment').keyup(function() {
                    var text_length = $('#id_comment').val().length;
                    var text_remaining = text_max - text_length;

                    $('#textarea_feedback').html(text_remaining + ' characters remaining');
                });
            });
        </script>


        <!-- Atu konta totalidade ba tweety comments -->
        {% if count_tweets = 0 %}
            <p>There are {{ count_tweets }} tweets</p>
        {% elif count_tweets = 1 %}
            <p>There is {{ count_tweets }} tweet</p>
        {% else %}
            <p>There are {{ count_tweets }} tweets</p>
        {% endif %}

        <!-- Atu halo iterasaun ba tweety comments -->
        <ul>
            {% include page_template %}
        </ul>
        {% load i18n %}
        {% load static %}
            <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
            <script>$.endlessPaginate({paginateOnScroll: true});</script>

            <script type="text/javascript">

            $( document ).ready(function() {

                // making the assigned filter select submit on change
                $( "#issue_filter select" ).change(function() {
                    $( "#issue_filter" ).submit();
                 });

                // making the assigned filter select submit on change
                $( "#btn-reset" ).click(function() {
                    $( "#issue_filter select" ).val('');
                    $( "#issue_filter" ).submit();
                });

            });
        </script>
        </div>
        {% endblock %}
    </body>
</html>
